body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Цвет фона заголовка */
    color: white;
    padding: 10px 20px; /* Отступы для заголовка */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 24px; /* Размер шрифта заголовка */
}

nav {
    width: 100%; /* Растягивает навигационную панель на всю ширину */
    background-color: #4CAF50; /* Цвет фона для навигации */
    padding: 10px 0; /* Отступы для навигационной панели */
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: center; /* Центрирование по вертикали */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px; /* Отступы для ссылок */
    border-radius: 4px; /* Скругление углов ссылок */
}

.nav-links li a:hover {
    background-color: #45a049; /* Выделение фона при наведении */
}

.language-select {
    margin-left: auto; /* Перемещает выбор языка вправо */
    position: relative;
}

.select-container {
    position: relative;
    display: inline-block;
}

.select-selected {
    background-color: #388E3C; /* Цвет фона для выбранного значения */
    color: white;
    border: none;
    padding: 5px 30px 5px 10px; /* Добавлен отступ для изображения флага */
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.flag-img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.select-items {
    position: absolute;
    background-color: #388E3C; /* Цвет фона для выпадающего списка */
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
}

.select-item {
    padding: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select-item:hover {
    background-color: #45a049; /* Выделение фона при наведении */
}

.select-item img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.select-hide {
    display: none;
}
.select-show {
    display: block;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

#existing-pets table {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #45a049;
}



.new-pet,.new-user {
    margin-bottom: 20px;
    text-align: left; /* Выравнивание ссылки по правому краю */
}

.new-pet a, .new-user a {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.new-pet a:hover {
    background-color: #003d00;
}